.tabla-container {
    margin: 0 20px; /* espacio lateral */
    width: auto;
}

#tabla {
    width: 100% !important;
    table-layout: auto !important;
}

#tabla th, #tabla td {
    white-space: nowrap;
    padding: 8px 12px;
}