/* Variables usadas*/
:root{
    --header:#ff9fbe;
    --principal:#61bcd7;
    --principalHover:#1a81a0;
    --texto:#000000;
    --blanco:#ffffff;
    --titulo:#4a7f83;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Baloo 2', cursive;
}

body{
    background:var(--fondo);   
    color:var(--texto);
}

/*Imagen de fondo*/
.Fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Resources/Fondo2.png');
    background-size: cover;
    background-position: center;
    opacity: 15;
    z-index: -1;
}

/*Menù de arriba rosa*/
header,
.Header,
.icono{
    display:flex;
    align-items:center;
}

header{
    justify-content:space-between;
    background:var(--header);
    padding:18px 40px;
    box-shadow:0 3px 8px rgba(207, 11, 11, 0.12);
}

/*Nombre del negocio en la ezquina de la barra rosa*/
.Marca{
    display: flex;
    flex-direction: column;
}

.Marca h1{
    color:#000000;
    font-size:32px;
    margin:0;
    line-height:1;
}

.Marca p{
<<<<<<< HEAD
    font-size:14px;
=======
    margin-top:4px;
   text-align: center;
    color:#000000;
>>>>>>> b1e8e94 (Comienzos)
    font-style:italic;
    color:#333;
    margin-top:3px;
    margin-left:24px;   
    text-align:left;
}

/*Boton de añadir venta*/
.btnVenta{
    background:#61bcd7;
    color:var(--blanco);
    border:none;
    padding:12px 20px;
    border-radius:25px;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    transition:.25s ease;
    display:flex;
    align-items:center;
    gap:10px;
}
  
.btnVenta:hover{
    background-color: #1a81a0;
    transform: scale(1.02);
}

/*Logo superior derecha*/
.logoEmpresa{
<<<<<<< HEAD
    width:75px;
    height:75px;
    border-radius:50%;
    object-fit:cover;
    margin-left: 35px;
    border:none;
    transition:transform .3s ease;
}

.logoEmpresa:hover{
    transform:scale(1.05);
}

#btnCerrarSesion{
    display:flex;
    align-items:center;
    cursor:pointer;
=======
    width:77px;
    height:77px;
    object-fit:cover;
    border-radius:50%;
    padding:0px;
    transition:.25s ease;
    margin-left: 20px;
    display: block;
    text-decoration: none;
}

.logoEmpresa:hover{
    background:var(--principalHover);
    transform:translateX(-3px);
>>>>>>> b1e8e94 (Comienzos)
}

/*Todo el contenido de la pagina que esta bajo el header*/
main{
    max-width:1000px;
    margin:auto;
    padding:40px 20px;
}

.saludo{
    margin-bottom:35px;
    color:#4a7f83;
    font-size:32px;
    text-align: center;
}

/*Titulos de las funciones*/
section{
    margin-bottom:70px;
}

.tituloSeccion{
    margin-bottom:25px;
    padding-left:12px;
    border-left:6px solid #befbfc;
    color:#4a7f83;
    font-size:28px;
}

/*Grid*/
.contenedor{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,260px));
    justify-content:center;
    gap:25px;
}

/*Nombre dentro de los cuadros de funciones*/
.card{
    width:240px;
    background:var(--principal);
    color:rgb(255, 255, 255);
    text-decoration:none;
    border-radius:16px;
    padding:18px;
    display:flex;
    align-items:center;
    gap:15px;
    box-shadow:0 8px 15px rgba(0,0,0,.12);
    transition:.25s ease;
}

.card:hover{
    background:var(--principalHover);
    transform:translateY(-5px);
}

/*Iconos dentro de las funciones*/
.icono{
    justify-content:center;
    width:45px;
    height:45px;
    background:rgb(255, 255, 255);
    color:var(--principal);
    border-radius:50%;
    font-size:20px;
    flex-shrink:0;
}

.card span{
    flex:1;
    font-size:20px;
    font-weight:600;
}

.flecha{
    font-size:20px;
    transition:.25s ease;
}

.card:hover .flecha{
    transform:translateX(4px);
}

/*Formulario pequeño que se abre al añadir una venta dentro de esta misma pag principal*/
.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition:.30s ease;
    z-index:2000;
}

.modal.activo{
    opacity:1;
    visibility:visible;
}

.modal-contenido{
    width:700px;
    max-width:95%;
    background:#ffffff;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(28, 66, 147, 0.25);
    overflow:hidden;
    animation:mostrarModal .30s ease;
}

/*Formulario*/
.formVenta{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:22px;
    padding: 30px;
}

/*Encabezado*/
.modal-header{
    background:#befbfc;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 30px 15px;
    border-bottom:1px solid #befbfc;
}

.modal-header h2{
    font-size:30px;
    color:var(--titulo);
    font-weight:700;
}

.cerrarModal{
    border:none;
    font-size:24px;
    cursor:pointer;
    color:#4a7f83;
    transition:.25s;
    width:40px;
    height:40px;
    border-radius:40%;
    background:#befbfc;
}

.cerrarModal:hover{
    background:#abdbdc;
    color:#4a7f83;
    transform:none;
}

/*Lupa*/
.grupoBusqueda{
    position:relative;
    margin:20px 30px;
}

.iconoBuscar{
    position:absolute;
    left:18px;
    top:50%;
    transform:translateY(-50%);
    color:#667;
    font-size:18px;
}

.buscarProducto{
    width:100%;
    height:52px;
    padding-left:48px;
    padding-right:15px;
    border:2px solid var(--principalHover);
    border-radius:14px;
    outline:none;
    font-size:16px;
    transition:.30s;
}

.buscarProducto:focus{
    border-color:var(--principalHover);
}

/*Cajas de texto y titulos*/
.campo{
    display:flex;
    flex-direction:column;
}

.campo label{
    color:#4a7f83;
    font-size:18px;
    font-weight:700;
    margin-bottom:8px;
}

.campo input{
    width:100%;
    height:48px;
    padding:0 15px;
    border:1px solid #d9d9d9;
    border-radius:12px;
    outline:none;
    transition:.25s;
}

.campo input:focus{
    border:1px solid #d9d9d9;
    box-shadow:none;
    outline:none;
}

/* Campos que llena el sistema nombre, precio y el total*/
.campo input[readonly]{
    background:#f6f5f5;
    color:black;
    border:1px solid #d9d9d9;
    cursor:default;
}

/* Campo que llena el usuario cantidad en este caso*/
.campo input[type="number"]{
    background:#fff;
}

/*Botones cancelar y agregar venta*/
.modal-botones{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:10px;
    padding-bottom:30px;
}

.btnCancelar,
.btnGuardar{
    width:160px;
    height:48px;
    border:none;
    border-radius:25px;
    font-size:16px;
    font-weight:600;
}

.btnCancelar{
    padding:11px 22px;
    border:none;
    color: #fff;
    border-radius:12px;
    background:#ef5b5b;
    cursor:pointer;
    font-weight:600;
}

.btnCancelar:hover{
    background:#bf4a4a;
}

.btnGuardar{
    padding:11px 22px;
    border:none;
    border-radius:12px;
    background:#4bd16d;
    color:#fff;
    cursor:pointer;
    font-weight:600;
}

.btnGuardar:hover{
    background:#3da156;
}

/*Responsive general*/
@media(max-width:768px){
    header{
        flex-direction:column;
        gap:15px;
        padding:20px;
    }

    .Header{
        width:100%;
        justify-content:center;
    }

    .saludo,
    .tituloSeccion{
        text-align:center;
    }

    .tituloSeccion{
        border:none;
        padding-left:0;
    }
}

@media(max-width:480px){
    .card{
        width:100%;
    }

    .card span{
        font-size:18px;
    }

    .icono{
        width:40px;
        height:40px;
        font-size:18px;
    }

    .btnVenta{
        padding:10px 16px;
        font-size:14px;
    }
}

/*Animaciòn en el modal*/
@keyframes mostrarModal{
    from{
        opacity:0;
        transform:translateY(-20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}