/* ================================
        BOTONES DE ACCIONES
================================ */

.acciones-tabla{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
}

.btnAccion{
    width:36px;
    height:36px;
    border:none;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    cursor:pointer;
    transition:.25s;
}

.btnAccion i{
    font-size:16px;
}

/* Registrar pérdida */
.btnPerdida{
    background:#ef5b5b;
}

.btnPerdida:hover{
    background:#d84242;
    transform:scale(1.08);
}

/* Registrar entrada */
.btnEntrada{
    background:#3cb878;
}

.btnEntrada:hover{
    background:#2c9961;
    transform:scale(1.08);
}

/* Historial */
.btnHistorial{
    background:#4d8ef7;
}

.btnHistorial:hover{
    background:#3574da;
    transform:scale(1.08);
}

body{
    background: pink !important;
}