.tarjeta-receta{
    width: 100%;
    max-width: 360px;
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

.tarjeta-receta:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 24px rgba(0,0,0,.25);
}

.imagen-receta{
    height: 260px;
    object-fit: cover;
}

.titulo-receta{
    text-align: center;
    font-weight: 600;
}